/* Colors */
$paragraph-color: #979797;
$btn-light-grey: #BDBDBD;
$dark-color: #333333;
$links-color: #56819F;
$orange-color: #F58220;
$orange-h-color: #FFA200;
$main-color: #F5F5F2;
$light-grey: #E3E3E3;

/* Font sizes */
$paragraph-font-size: 12px;

/* Fonts */
$font-header: 'Galada', cursive;
$font-text: 'Roboto', sans-serif;
