

.btn-orange, .btn-grey{
  text-align: center;
  color: $main-color;
  padding: 15px 20px 15px 20px;
  width: 80px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
}
.btn-orange{
  background-color: $orange-color;
}

.btn-orange:hover{
  background-color: $orange-h-color;
}

.btn-grey{
  background-color: $paragraph-color,
}

.btn-grey:hover{
  background-color: $btn-light-grey;
}

.btn-top{
  background-color: #FFFFFF;
  border: none;
  padding: 18px 20px;
  text-align: center;
  font-family: $font-text;
  color: $paragraph-color;
  cursor: pointer;
  margin-left: -3px;
}

.btn-top:hover{
  background-color: $light-grey;
}


.btn-small{
  background-color: $orange-color;
  width: 30px;
  height: 30px;
  border-radius: 4%;
  position: relative;
  color: #FFFFFF;

  i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}

.btn-small:hover{
  background-color: $orange-h-color;
}
