

.btn-orange, .btn-grey{
  text-align: center;
  color: $main-color;
  padding: 8px 20px;
  width: 80px;
  height: 40px;
  font-size: $paragraph-font-size;
  border-radius: 4px;
  cursor: pointer;
}
.btn-orange{
  background-color: $orange-color;
}

.btn-orange:hover{
  background-color: $orange-h-color;
}

.btn-grey{
  background-color: $paragraph-color,
}

.btn-grey:hover{
  background-color: $btn-light-grey;
}

.btn-top{
  background-color: #FFFFFF;
  border: none;
  padding: 18px 20px;
  text-align: center;
  font-family: $font-text;
  color: $paragraph-color;
  cursor: pointer;
}

.btn-top:hover{
  background-color: $light-grey;
}
