
.general{
  padding: 64px 0 0 0;

}

.general-date{
  justify-content: center;
  display: flex;
  padding: 25px;
  border-bottom: 1px $light-grey solid;

  .date-inputs{
    display: flex;
    border: 1px $light-grey solid;
    padding: 0;
    margin: 0 10px;
    justify-content: space-between;
    width: 230px;
    a{
      border: none;
      font-size: 12px;
      padding: 8px 10px;
      height: 12px;

    }

    i{
      height: 12px;
      padding: 8px 10px 8px 0;
    }

    .date2{
      border-left: 1px $light-grey solid;
    }
  }
}


.general-items{
  display: flex;
  justify-content:  space-between;
  border-bottom: 1px $light-grey solid;
  width: 85%;
  padding: 5px;


  p{
    padding-left: 0;
    margin: 0;
  }
}

/*Chart*/

.general-row{
  margin: 10px 0;
}
.title-chart{
  padding: 20px 0;
}

.chart-legend{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  a{
    margin: 0 10px;
    position: relative;
  }

  a:before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
    left: 5px;
    top: 20px;
    border-radius: 50%;

  }
  .signups:before{
    background-color: blue;
  }

  .ftd:before{
    background-color: $orange-color;
  }
}

.chart{
  padding-bottom: 30px;
  display: flex;
  justify-content: center;

  img{
    width: 100%;
  }
}
