
.sidebar{
  background-color: black;
  width: 188px;
  position: fixed;
  display: block;
  padding-top: 10px;
  height: 100%;
  z-index: 3;
}

.sidebar-title{
  display: inline;
  padding: 15px 12px;
  text-align: center;

  .title{
    font-family: $font-header;
    font-size: 30px;
  }

  i{
    padding-left: 30px;
    font-size: 16px;
    cursor: pointer;
  }
}

.sidebar-links{
  cursor: pointer;
  list-style: none;
  padding: 0;

  .sidebar-links-item{
    padding: 10px 14px;
    text-decoration: none;
    border-left: 3px black solid;
    font-size: 14px;


    a{
      padding-left: 7px;
    }
  }
}

.sidebar-links-item:hover{
  background-color: $paragraph-color;
  color: $light-grey;
  border-left: 3px $orange-h-color solid;
}

.sidebar-manager{
border-top: 0.5px $paragraph-color solid;
padding: 10px 20px;

  .manager-item{
    position: relative;
    img{
      padding: 10px 0;
      width: 20px;
      height: 20px;
      background-color: black;

    }

    a{
      position: absolute;
      color: $links-color;
      font-size: 14px;
      left: 30px;
      top: 14px;
    }
  }
}
.sidebar-down{
  border: none;
  padding: 0;

  span{
    padding: 5px;
  }
}

@media (min-width: 767px){
  .sidebar-down{
    border: none;
    display: none;
  }
}

@media (max-width: 767px){
  .active-short{
    height: 42px;

    .sidebar-links, .sidebar-manager, .sidebar-down, {
      display: none;
    }

  }
}
