
.topbar{
  z-index: 2;
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
  text-align: right;
  margin-top: 0;
  height: 53px;
}

.top{
  margin:0;
  padding: 0;
  border: 1px $light-grey solid;
  display: flex;
  justify-content: flex-end;
}

.top-item{
  color: $light-grey;
  display: inline;
  border-left: 1px $light-grey solid;


  span{
    padding: 0 20px;
  }
}

.icon-notification{
  position: relative;
}

.icon-notification::after{
  content: "";
  font-size: 150px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  left: 9px;
  top: -5px;
  background-color: $orange-color;
  position: absolute;
}

.icon-quit{
  border-right: 1px $paragraph-color solid;
}

.user{
  color: $links-color;
  padding-right: 0;
}

@media (max-width: 767px){
  .top-item{
    display: none;
  }
}
